<!DOCTYPE html>
<html>
<head th:replace="Fragments :: head(title='Unlearner')">
</head>
<body>
	<div th:replace="Fragments :: header"></div>

	<div class="container mt-2">
		<div class="row">
			<div class="col-3">
				<div class="card" style="width: 18rem;">
					<img src="/images/Blog.jpg" class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title">Physics</h5>
						<p class="card-text">Some quick example text to build on the
							card title and make up the bulk of the card's content.</p>
						<a href="#" class="btn btn-primary">Buy now</a>
					</div>
				</div>
			</div>
			
			<div class="col-3">
				<div class="card" style="width: 18rem;">
					<img src="/images/java.jpg" class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title">Java</h5>
						<p class="card-text">Some quick example text to build on the
							card title and make up the bulk of the card's content.</p>
						<a href="#" class="btn btn-primary">Buy now</a>
					</div>
				</div>
			</div>
			
			<div class="col-3">
				<div class="card" style="width: 18rem;">
					<img src="/images/python.jpg" class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title">Python</h5>
						<p class="card-text">Some quick example text to build on the
							card title and make up the bulk of the card's content.</p>
						<a href="#" class="btn btn-primary">Buy now</a>
					</div>
				</div>
			</div>
			<div class="col-3">
				<div class="card" style="width: 18rem;">
					<img src="/images/sql.jpeg" class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title">SQL</h5>
						<p class="card-text">Some quick example text to build on the
							card title and make up the bulk of the card's content.</p>
						<a href="#" class="btn btn-primary">Buy now</a>
					</div>
				</div>
			</div>
		</div>
	</div>


</body>
</html>

